<!DOCTYPE html>
<html>
  <head>
    <title>Form Demo</title>
    <% include ../views/partials/header.ejs %>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Database Input</h1>
      </div>
    </div>

    <div class="container">
      <iframe id="bs-iframe" class="hidden"></iframe>
      <form action="/" method="post">
        <legend>Data Input</legend>
        <fieldset>
          <div class="form-group">
            <label for="inputNumber">Number</label>
            <input type="number" name="inputNumber" class="form-control" placeholder="#"></input>
          </div>
          <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" name="inputName" class="form-control" placeholder="Name"></input>
          </div>
        </fieldset>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-default">Clear</button>
        </div>
      </form>
      <br>
      <a class="btn btn-primary" href="/results/">See Results</a>
    </div>
  </body>
</html>
